#progress-container
    box()
    min-height: 40px
    padding: 5px 5px 0 5px
    margin-top: 20px

.progress-bar
    height: 40px
    background: #444
    margin-bottom: 5px

.progress-bar .pos
    width: 0
    height: 40px
    background: #9E0152

.progress-bar .perc
    width: 100%
    line-height: 40px
    height: 40px
    text-align: center
    margin-top: -40px
    font-weight: bold
    color: white