<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{App.FullTitle}}</title>
</head>
<body>
    <section id="content">
        {% if flashMessages %}
        <div class="flash-messages container">
            {% for Message in FlashMessages %}
            <div class="flash-message alert alert-{{Message.MessageType}}" role="alert">
                {{Message.Text}}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% block content %}{% endblock %}
    </section>
    <script src="/js/bundle.js"></script>
</body>
</html>