{% extends "Layout.html" %}
{% block content %}
<div class="container">
    <article>
        <ul>
            {% for item in Array -%}
            <li>{{ item }}</li>
            {% endfor -%}
        </ul>
        {% if Article.Name %}
        <h1>{{ Article.Name }}</h1>
        {% endif %}
        {% if Article.Text1 %}
        <div class="text1">
            {{ Article.Text1 | safe }}
        </div>
        {% endif %}
        {% if Article.Text2 %}
        <div class="text2">
            {{ Article.Text2 | safe }}
        </div>
        {% endif %}
        {% if Article.Meta == 1 %}
        <footer class="meta">
            Author: {{ Article.User.Nick }} | Article created: {{ CreationDateString }} | Last update: {{ LastUpdateString }}
        </footer>
        {% endif %}
    </article>
</div>
{% endblock %}