form
{
	background: #f4f4f4;
}

#produkty
{
	background: white;
	border: 0px none;
	padding: 0;
}

#produkty .tab-control
{
	margin-bottom: 10px;
}

form em,
.container em
{
	color: red;
	font-style: normal;
}

form td
{
	padding: 5px 10px 5px 0;
}

form tbody th
{
	text-align: right;
	padding-right: 10px;
	font-weight: normal;
}

form td input[type='checkbox']
{
	margin-right: 8px;
}

.text,
textarea
{
	padding: 5px;
	font-size: 14px;
	border: 1px solid #BBCBF1;
	border-radius: 3px;
	width: 320px;
}

textarea.text
{
	width: 640px;
	min-height: 320px;
}

#article-form #content
{
	width: 560px;
}

.button
{
	padding: 8px 20px;
}

.btnctr
{
	text-align: right;
	margin: 10px 0 5px 0;
}

.toolbar
{
	margin-bottom: 20px;
}

.toolbar select
{
	margin-left: 15px;
}

form h1
{
	margin-top: 0;
	color: gray;
	font-size: 17px;
}

.item-list
{
	background: #fff;
	padding: 10px;
	border: 1px solid #BBCBF1;
    border-radius: 3px;
}

.item-list input[type=checkbox],
.item-list input[type=radio],
.item-list label
{
	cursor: pointer;
}