.img
{
	padding: 4px;
	border-radius: 3px;
	border: 1px solid #E4E8F1;
	margin: 0 10px 10px 0;
	float: left;
	background: #f4f4f4;
}

.img img
{
	margin: auto;
}

.img em,
.img .del
{
	display: block;
	font-size: 0.8em;
	display: block;
	text-align: center;
	line-height: 25px;
	height: 25px;
}

.img em
{
	padding-bottom: 4px;
}

.img .del
{
	padding-top: 4px;
}

.parent
{
	background: white;
	border: 0;
}

#video-submit-form .tab-control
{
	margin: 0 0 5px 0;
}