.Navigation
{
	margin: 0;
}

header
{
	background: #f4f4f4;
	height: 29px;
	position: relative;
}

header nav
{
	margin-left: 16px;
}

#user
{
	position: absolute;
	right: 0;
	top: 0;
}

#user
{
	padding-left: 43px;
	background: url(../../img/login.png) no-repeat top left;
}

#user.logged-in
{
	background: url(../../img/user.png) no-repeat 10px 6px;
}

header nav a
{
	display: inline;
	padding: 0 27px 0 0px;
	float: left;
	background: url(../../img/delim.gif) no-repeat top right;
	line-height: 29px;
	height: 29px;
	color: #5d5d5d;
	text-decoration: none;
	display: block;
	font-size: 13px;
	list-style: none;
}

header nav a:last-child
{
	background: none;
}

header nav a.active
{
	color: #9e0152;
	font-weight: normal;
	font-size: 13px;
	display: block;
}

#fb
{
	width: 89px;
	height: 29px;
	background: url(../../img/fb.png) no-repeat top left;
	top: 0;
	right: 0;
	position: absolute;
}