.pathway
{
	background: url(../../img/icons/pathway.png) no-repeat 0 3px;
	padding: 0 0 0 21px;
}

.date, .author, .more
{
	padding: 0 0 0 21px;
}

.date
{
	background: url(../../img/icons/date.png) no-repeat;
}

.author
{
	background: url(../../img/icons/author.png) no-repeat;
	margin-left: 10px;
}

.more
{
	background: url(../../img/icons/more.png) no-repeat;
	margin-left: 10px;
}