table.list
{
	border-collapse: collapse;
	width: 100%;
	border: 1px solid silver;
}

.list th,
.list td
{
	font-weight: normal;
	text-align: center;
	padding: 5px;
}

.list td
{
	border: 1px solid #E4E8F1;
}

.list td img
{
	display: block;
	margin: 0 auto;
}

.list .row0
{
	background: #F4F4F4;
}

.list .row1
{

}

.list .name
{
	text-align: left;
	padding-left: 15px;
}

.list tr.total > td
{
	background: #444;
	color: white;
}