#side-bar
{
	width: 180px;
	top: 0;
	left: 0;
	z-index: 1;
	float: left;
}

#side-bar nav
{
	padding: 0;
	margin: 0;
}

#side-bar nav a
{
	padding: 0;
	margin: 0;
	display: block;
}

#side-bar nav a.active
{
	font-weight: bold;
	color: #595959;
	cursor: default;
}

#side-bar .Navigation
{
	margin-bottom: 25px;
}

