table.framed
{
	border-collapse: collapse;
	background: #f4f4f4;
	border: 1px solid #e4e8f1;
}

table.framed th,
table.framed td
{
	border: 1px solid silver;
}

table.framed th,
table.framed td
{
	padding: 5px 10px;
	text-align: center;
	vertical-align: middle;
}

table.small td
{
	font-size: 0.8em;
}

.title-row {
    background: #737373;
    color: white;
}