<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>{{app.title}}</title>
    <link href="/css/bundle.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700,600" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <div id="layout">
        <header id="head">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header"><button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/">{{app.brand | safe}}</a></div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/page/about">About</a></li>
                            {% if user.isLoggedIn %}
                            <li><a href="/sign/out"><i class="fa fa-lock"></i><span> Signout</span></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>My Profile </span><span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/profile/detail/{{user.Uri}}">View</a></li>
                                    <li><a href="/profile/edit/{{user.Uri}}">Edit</a></li>
                                </ul>
                            </li>
                            {% else %}
                            <li><a href="/sign/in"><i class="fa fa-unlock"></i><span> Signin</span></a></li>
                            <li><a href="/sign/up"><i class="fa fa-edit"></i><span> Signup</span></a></li>
                            {% endif %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Pages </span><span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/detail">Detail</a></li>
                                    <li><a href="/profile">Profile</a></li>
                                    <li><a href="/account_setting">Account Setting</a></li>
                                    <li><a href="/signin">Signin</a></li>
                                    <li><a href="/signup">Signup</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/portfolio">Portfolio</a></li>
                                    <li><a href="/portfolio-single">Portfolio Single</a></li>
                                    <li><a href="/blog">Blog</a></li>
                                    <li><a href="/blog-single">Blog Single</a></li>
                                </ul>
                            </li>
                            <li class="fsearch hidden-xs"><a class="btn-search"></a></li>
                        </ul>
                    </div>
                    <ul class="nav navbar-nav navbar-right nav-search visible-xs">
                        <li class="fsearch"><a class="btn-search"></a></li>
                    </ul>
                </div>
            </nav>
            <section id="searchbox">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group"><label for="inputSearch" class="sr-only">Search</label><input type="text" class="form-control input-lg" placeholder="Enter your keyword"></div>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <section id="content">
            {% if flashMessages %}
            <div class="flash-messages container">
                {% for message in flashMessages %}
                <div class="flash-message alert alert-{{message.type}}" role="alert">
                    {{message.text}}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% block content %}{% endblock %}
        </section>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>Copyright &copy; {{app.title}} {{ActualYear}} All Right Reserved.</p>
                        <ul class="list-inline">
                            <li><a href="#">Terms Of Service</a></li>
                            <li><a href="#">Privacy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <ul class="list-social">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/masonry.pkgd.min.js"></script>
    <script src="/js/bundle.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>