.comments
    display block
    min-height 50px
    padding 30px 0
    ul
        li
            ul
                margin-left 60px
    .comment-meta
        margin-bottom 15px
        .comment-avatar
            float left
            margin-right 20px
        .comment-author
            font-weight 700
            display block
            font-size 15px
            line-height 21px
        .comment-date
            display table
            text-align left
            font-size 11px
            line-height 15px
            color #999
        .comment-reply
            float right
            margin-top -40px

.comments ul,.comments ul ul
    list-style-type none
    padding 0
    margin 0
    display block

.comment-container
    padding 20px
    border 1px solid #ddd
    -webkit-border-radius 2px
    -moz-border-radius 2px
    -ms-border-radius 2px
    -o-border-radius 2px
    border-radius 2px
    margin-bottom 20px
    
.comments
    ul
        li
            ul
                margin-left 0